<p>
  <b>Torrent hash:</b>
  <%=h @trackers.torrent_hash %>
</p>

<p>
  <b>Url:</b>
  <%=h @trackers.url %>
</p>


<%= link_to 'Edit', edit_trackers_path(@trackers) %> |
<%= link_to 'Back', trackers_path %>
